<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
            <a mat-list-item routerLink="/books" routerLinkActive="active">Books</a>
            <a mat-list-item [routerLink] = "['/authors','Eliran',0]" routerLinkActive="active" >Authors</a>
            <a mat-list-item a routerLink="/posts" routerLinkActive="active">Posts</a>
            <a mat-list-item routerLink="/classify">Classify</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
         <!-- <span>Book list</span>  -->
         <span>{{title}}</span>
         <span class = "spacer"></span>
          <a class = "whitelink" 
              routerLink="/signup"
              *ngIf = "!(authService.user | async)?.uid" >SignUp</a>
              <a class = "whitelink" 
              routerLink="/login"
              *ngIf = "!(authService.user | async)?.uid" >Login</a>         
          <a class = "whitelink" 
              *ngIf = "(authService.user | async)?.uid" 
              (click) = "authService.Logout()">Logout</a>  
       </mat-toolbar>
       <!-- Add Content Here -->
       <router-outlet></router-outlet>
     </mat-sidenav-content>
   </mat-sidenav-container>