<mat-card>
<form #authForm="ngForm"(ngSubmit)="onSubmit()">
        <h4>Author Name</h4>
         <input matInput placeholder="Author name" [(ngModel)]="authorName"
                      name="authorName"
                      required
                      #auth = "ngModel">
        <mat-error *ngIf="!(auth.valid || auth.pristine)">
            Author Name is required
        </mat-error>
        <div>
            <button [disabled]="!authForm.form.valid">Change Author Name</button>
        </div>
    </form>
</mat-card>