<br>
 <!-- Button who save the post on the firbase store -->
<!-- <div ng-controller="myCtrl">
  <button mat-raised-button color="primary" (click)="saveFunc()">Save to firestore</button>
  <p>{{message}}</p>
</div>  -->
<div class="example-button-row">
  <button 
     mat-raised-button color="primary"
     [routerLink]="'/postform'">
     Add post
  </button>
</div>
  <div *ngIf = "!(Posts$ | async)">Loading...</div>
 <br>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of Posts$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}}
         
        </mat-panel-title>
      </mat-expansion-panel-header> 
           {{post.body}}
      <mat-panel-title>
            Author : {{post.author}} 
      </mat-panel-title>
       
       <!-- <div *ngFor="let user of Users$">
         <div *ngIf = "user.id == post.userId;other">Author: {{user.name}}</div>
      </div> -->

      <br>

      <button mat-raised-button 
            color="primary"
            (click) = deletePost(post.id)>
            Delete
      </button> 
      <!-- Space maker -->
      &nbsp;
      <button 
            mat-raised-button color="primary"
            [routerLink]="'/postform/'+post.id">
            Edit
      </button>  
    </mat-expansion-panel>
  </mat-accordion>





 